/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
html {
  background: #F6F6F6;
  font: normal normal 10px/1.2em helvetica, arial, sans-serif;
  color: #777;
  font-family: 'Open Sans', sans-serif;
}
.sprite {
  background: url(../img/sprite.png) no-repeat 0 0 transparent;
}
/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2b2b;
}
/* =============================================================================
   NAVIGATION
   ========================================================================== */
.nav {
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.nav .nav-link {
  color: #e7e7e7;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.nav .nav-link:active,
.nav .nav-link:hover,
.nav .nav-link:focus,
.nav .nav-link.current {
  color: #fff;
}
.btn {
  background-color: #fddd52;
  background-image: -moz-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  background-image: -webkit-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fddd52', endColorstr='#f0a303');
  background-image: linear-gradient(top, #fddd52 30%, #f0a303 150%);
  color: #2b2b2b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), inset 0 -2px 3px 0 #cc7f0a, inset 0 1px 0 0 #fff9b1;
  border-radius: 40px;
}
.github-link {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
}
.github-link img {
  border: 0;
}
/* =============================================================================
   section
   ========================================================================== */
.section {
  min-height: 720px;
}
.section-wrapper {
  width: 960px;
  margin: 0 auto;
}
/* =============================================================================
   HEADER
   ========================================================================== */
.header {
  height: 520px;
  background: url(../img/home.jpg) no-repeat center center #000000;
  background-size: 100% 100%;
  position: relative;
}
.header .details {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.header .logo-name {
  margin-bottom: 0;
  font-size: 10em;
  letter-spacing: -0.04em;
  position: absolute;
  top: 0;
  left: 0;
}
.header .logo-link {
  width: 140px;
  height: 220px;
  text-indent: -9999px;
  display: block;
  overflow: hidden;
}
.header .logo-link,
.header .tagline,
.header .call-action-area .price {
  color: #fff;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.header .tagline {
  font-weight: 100;
  margin-bottom: 0;
  font-size: 28px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  line-height: 36px;
}
.header .tagline:first-child {
  font-weight: 600;
  font-size: 32px;
}
.header .call-action-area {
  margin-top: 16px;
  text-align: right;
  display: none;
}
.header .call-action-area .price {
  color: #fddd52;
}
.header .call-action-link {
  margin-top: 200px;
  display: block;
  height: 70px;
  background-position: -150px -102px;
  width: 242px;
  position: absolute;
  right: 0;
  bottom: 140px;
}
.social {
  display: inline-block;
  margin-top: 5px;
}
.social .sprite {
  height: 28px;
  width: 28px;
  display: inline-block;
}
.social .github {
  background-position: -168px 0px;
}
.social .fb {
  background-position: -198px 0px;
}
.social .twitter {
  background-position: -226px 0px;
}
/* =============================================================================
   CONTENT
   ========================================================================== */
.content a {
  color: #f0a303;
}
.content a:hover,
.content a:focus {
  color: #fddd52;
  text-decoration: underline;
}
/* =============================================================================
   ABOUT
   ========================================================================== */
.about {
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 4px;
  background: url(../img/sobre_bg.gif);
}
.about .description {
  font-family: Handlee, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  padding-top: 100px;
}
/* =============================================================================
   LOCATION
   ========================================================================== */
.location {
  position: relative;
  min-height: 657px;
}
.location .address {
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 400px;
  height: 50px;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  text-shadow: 2px 2px 5px rgba(0,0,0,1);
}
.location .location-area {
  background: #e7e7e7;
  border-radius: 4px;
  height: 710px;
  width: 100%;
  margin-top: -60px;
}
.location .section-wrapper {
  width: 100%;
}
/* =============================================================================
   SPEAKER
   ========================================================================== */
.speakers {
  background: url(../img/sobre_bg.gif);
}
.speakers .section-title {
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  right: 12px;
}
.speakers-list {
  width: 850px;
  margin: 0 auto;
  clear: both;
  display: block;
}
.speaker-photo .photo {
  border-radius: 5px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
}
.speaker-photo .photo:hover {
   filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0);
}
.speakers-item {
  text-align: right;
  padding: 10px;
  float: left;
}
.speakers-item:nth-child(odd) {
  margin-left: 0px;
}
.speakers-item:nth-child(even) {
  float: right;
}
.speakers-item:hover .speaker-photo .photo {
  transition: 0.6s;
}
.speakers-item .speakers-bio {
  bottom: 0;
  color: #fff;
  left: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  z-index: 10;
}
.speakers-item .speakers-bio {
  background: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  display: none;
  height: 220px;
  padding: 10px;
  opacity: 0;
}
.speakers-item .speakers-name {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.speakers-item .speaker-photo {
  z-index: 2;
}
.speakers-item .speech-title {
  width: 400px;
  position: absolute;
  right: 20px;
  text-align: right;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  top: 18px;
}
.speakers-item .speaker-name {
  font-size: 1em;
  color: white;
  margin-bottom: 3px;
}
.speakers-item .speech-time {
  color: #666;
  border-radius: 8px;
  display: none;
  position: absolute;
  top: 25px;
  right: -71px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
}
.speakers-item .speech-bullet {
  background: url(../img/sprite.png) no-repeat -168px -35px;
  width: 33px;
  height: 33px;
  display: none;
  position: absolute;
  right: -46px;
  top: 10px;
  z-index: 10;
}
.speakers-item:nth-child(even) .speech-time,
.speakers-item:nth-child(even) .speech-bullet {
  display: none;
}
.speakers-item .company {
  color: #f0a303;
  clear: both;
  display: block;
  font-size: 0.8em;
}
.speakers-item .social {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 62px;
}
/* =============================================================================
   SCHEDULE
   ========================================================================== */
.schedule-tbl {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}
.schedule-tbl table {
  background: #fff;
}
.schedule-tbl td,
.schedule-tbl th {
  border-bottom: 1px solid #e7e7e7;
}
.schedule-tbl tbody tr:nth-child(2n+1) {
  background: #f6f6f6;
}
.schedule-tbl th {
  color: #2b2b2b;
}
.schedule-tbl .speaker-photo .photo {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3);
}
.speakers-company {
  color: #999;
}
.schedule-slot {
  color: #2b2b2b;
}
.schedule-tbl tbody tr:hover {
  background: #fffde1;
}
.schedule-coffee,
.schedule-closing,
.schedule-lunch,
.schedule-other {
  color: #214f87;
}
/* =============================================================================
   SPONSORS
   ========================================================================== */
.sponsor-link,
.partner-link {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}
.sponsor-link:hover,
.sponsor-link:focus,
.partner-link:hover,
.partner-link:focus {
  border-color: #f0a303;
}
/* =============================================================================
   CONTACT
   ========================================================================== */
.form input[type=text],
.form input[type=email],
.form textarea {
  color: #777;
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 4px;
}
.form input[type=text]:focus,
.form input[type=email]:focus,
.form textarea:focus {
  border-color: #aaa;
  outline: 0;
}
/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .header {
    background-size: auto 100%;
  }
}
@media only screen and (max-width: 480px) {
  .sprite {
    background-size: 300px 157px;
  }
  .header .logo-name {
    left: 15px;
  }
  .header .logo-link {
    width: 109px;
  }
  .header .details {
    right: 15px;
    top: 200px;
  }
  .header .tagline:first-child {
    font-size: 24px;
  }
  .header .tagline {
    font-size: 22px;
    line-height: 22px;
  }
  .header .call-action-link {
    bottom: 160px;
    background-position: -113px -78px;
    width: 183px;
  }
  .social .sprite {
    height: 22px;
    width: 22px;
  }
  .social .github {
    background-position: -126px 0px;
  }
  .social .fb {
    background-position: -147px 0px;
  }
  .social .twitter {
    background-position: -169px 0px;
  }
  /* speakers */
  .speakers .section-title {
    font-size: 35px;
  }
  .speaker-photo .photo {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.07);
  }
  .speakers-list {
    width: 420px;
    margin-bottom: 30px;
  }
  .speakers-item {
    float: none;
    display: block;
    height: 160px;
    text-align: center;
  }
  .speakers-item:nth-child(even) {
    float: none;
  }
  .speech-title {
    font-weight: bolder;
  }
  .speech-time {
    color: #2b2b2b;
    background: transparent;
    font-weight: bolder;
  }
  .github-link {
    display: none;
  }
}