/* =============================================================================
   MAIN LAYOUT
   ========================================================================== */
html {
  background: #F6F6F6;
  font: normal normal 10px/1.2em helvetica, arial, sans-serif;
  color: #777;
  font-family: 'Open Sans', sans-serif;
}
.sprite {
  background: url(../img/sprite.png) no-repeat 0 0 transparent;
}
/* =============================================================================
   BASIC STYLES
   ========================================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2b2b2b;
}
/* =============================================================================
   NAVIGATION
   ========================================================================== */
.nav {
  background: rgba(0, 0, 0, 0.3);
  display: none;
}
.nav .nav-link {
  color: #e7e7e7;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}
.nav .nav-link:active,
.nav .nav-link:hover,
.nav .nav-link:focus,
.nav .nav-link.current {
  color: #fff;
}
.btn {
  background-color: #fddd52;
  background-image: -moz-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  background-image: -webkit-linear-gradient(top, #fddd52 30%, #f0a303 150%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fddd52', endColorstr='#f0a303');
  background-image: linear-gradient(top, #fddd52 30%, #f0a303 150%);
  color: #2b2b2b;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.4), inset 0 -2px 3px 0 #cc7f0a, inset 0 1px 0 0 #fff9b1;
  border-radius: 40px;
}
.github-link {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
}
.github-link img {
  border: 0;
}
/* =============================================================================
   section
   ========================================================================== */
.section {
  min-height: 720px;
}
.section-wrapper {
  width: 960px;
  margin: 0 auto;
}
/* =============================================================================
   HEADER
   ========================================================================== */
.header {
  height: 520px;
  background: url(../img/home.jpg) no-repeat center center #000000;
  background-size: 100% 100%;
  position: relative;
}
.header .wrapper {
  position: absolute;
  left: 50%;
  margin-left: -480px;

}
.header .details {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}
.header .logo-name {
  margin-bottom: 0;
  font-size: 10em;
  letter-spacing: -0.04em;
  position: absolute;
  top: 0;
  left: 0;
}
.header .logo-link {
  width: 140px;
  height: 220px;
  text-indent: -9999px;
  display: block;
  overflow: hidden;
}
.header .logo-link,
.header .tagline,
.header .call-action-area .price {
  color: #fff;
}
.header .tagline {
  font-weight: 100;
  margin-bottom: 0;
  font-size: 28px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  line-height: 36px;
}
.header .tagline:first-child {
  font-weight: 600;
  font-size: 32px;
}
.header .call-action-area {
  margin-top: 16px;
  text-align: right;
  display: none;
}
.header .call-action-area .price {
  color: #fddd52;
}
.header .call-action-link {
  margin-top: 200px;
  display: block;
  height: 70px;
  background-position: -150px -102px;
  width: 242px;
  position: absolute;
  right: 0;
  bottom: 140px;
}
.social {
  display: inline-block;
  margin-top: 5px;
}
.social .sprite {
  height: 28px;
  width: 28px;
  display: inline-block;
}
.social .github {
  background-position: -168px 0px;
}
.social .fb {
  background-position: -198px 0px;
}
.social .twitter {
  background-position: -226px 0px;
}
/* =============================================================================
   CONTENT
   ========================================================================== */
.content a {
  color: #f0a303;
}
.content a:hover,
.content a:focus {
  color: #fddd52;
  text-decoration: underline;
}
/* =============================================================================
   ABOUT
   ========================================================================== */
.about {
  border: 1px solid #e7e7e7;
  background: #fff;
  border-radius: 4px;
  background: url(../img/sobre_bg.gif);
}
.about .description {
  font-family: Handlee, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  font-size: 30px;
  padding-top: 100px;
}
/* =============================================================================
   PARTNERS
   ========================================================================== */
.content .partners {
  min-height: 590px;
}
/* =============================================================================
   LOCATION
   ========================================================================== */
.content .location {
  position: relative;
  min-height: 657px;
  padding-top: 0;
}
.location .address {
  position: absolute;
  bottom: 10px;
  left: 50px;
  width: 400px;
  height: 50px;
  z-index: 1000;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
  padding: 10px 20px 20px 20px;
  border-radius: 5px;
  text-shadow: 2px 2px 5px rgba(0,0,0,1);
}
.location .location-area {
  background: #e7e7e7;
  border-radius: 4px;
  height: 710px;
  width: 100%;
}
.location .section-wrapper {
  width: 100%;
}
/* =============================================================================
   SPEAKER
   ========================================================================== */
.speakers,
.partners {
  background: url(../img/sobre_bg.gif);
  padding-bottom: 50px;
}
.section-title {
  color: rgba(255, 128, 0, 0.8);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  text-transform: uppercase;
  right: 12px;
}
.speakers-list {
  width: 850px;
  margin: 0 auto;
  clear: both;
  display: block;
}
.speaker-photo .photo {
  border-radius: 5px;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.speaker-photo .photo:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.speakers-item {
  text-align: right;
  padding: 10px 0;
  float: left;
  overflow: hidden;
  margin: 10px 0;
}
.speakers-item:nth-child(odd) {
  margin-left: 0px;
}
.speakers-item:nth-child(even) {
  float: right;
}
.speakers-item:hover .speaker-photo .photo {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
  transition: 0.6s;
}
.speakers-item .presentation {
  background: rgba(0, 0, 0, 0.9);
  border-radius: 5px;
  height: 200px;
  left: -400px;
  position: absolute;
  top: 10px;
  width: 400px;
  z-index: 20;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.speakers-item:nth-child(even) .presentation{
  left: 400px;
}
.speakers-item:hover .presentation {
  left: 0;
}
.speakers-item .presentation-title {
  color: #fff;
  font-size: 15px;
  padding: 10px 20px 0 20px;
  text-transform: uppercase;
  width: 365px;
}
.speakers-item .presentation-description {
  color: #bbb;
  font-size: 10px;
  padding: 0px 50px 0px 20px;
  text-align: left;
  text-transform: uppercase;
}
.speakers-item .speakers-bio {
  bottom: 0;
  color: #fff;
  left: 5px;
  position: absolute;
  text-transform: uppercase;
  top: 7px;
  z-index: 10;
}
.speakers-item .speakers-bio {
  background: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  display: none;
  height: 220px;
  padding: 10px;
  opacity: 0;
}
.speakers-item .speakers-name {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}
.speakers-item .speaker-photo {
  z-index: 2;
}
.speakers-item .speech-title {
  width: 400px;
  position: absolute;
  right: 20px;
  text-align: right;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.4);
  top: 18px;
}
.speakers-item .speech-time {
  color: #666;
  border-radius: 8px;
  display: none;
  position: absolute;
  top: 25px;
  right: -71px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-transform: lowercase;
}
.speakers-item .speaker-name {
   font-size: 1em;
   color: white;
   margin-bottom: 3px;
}
.speakers-item .speech-bullet {
  background: url(../img/sprite.png) no-repeat -168px -35px;
  width: 33px;
  height: 33px;
  display: none;
  position: absolute;
  right: -46px;
  top: 10px;
  z-index: 10;
}
.speakers-item:nth-child(even) .speech-time,
.speakers-item:nth-child(even) .speech-bullet {
  display: none;
}
.speakers-item .company {
  color: rgba(255, 128, 0, 0.8);
  clear: both;
  display: block;
  font-size: 0.8em;
}
.speakers-item .social {
  position: absolute;
  right: 20px;
  top: 80px;
  z-index: 30;
}
/* =============================================================================
   SPONSORS
   ========================================================================== */
.sponsor-link,
.partner-link {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  position: relative;
}
.partner-item,
.sponsor-item {
  margin: 10px 18px 30px 19px;
  /*position: relative;*/
}
.sponsor-link:hover,
.sponsor-link:focus,
.partner-link:hover,
.partner-link:focus {
  border-color: #f0a303;
}
.sponsor-type {
  color: #333;
  display: block;
  left: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 5px;
  width: 100%;
  font-weight: bold;
  z-index: 10;
  line-height: 20px;
}
/* =============================================================================
   FOOTER
   ========================================================================== */
.footer .author {
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  display: block;
  -webkit-transition: background-color 2s;
  -moz-transition: background-color 2s;
  -o-transition: background-color 2s;
  transition: background-color 2s;
}
.footer .author:hover {
  background: rgba(255, 128, 0, 0.8)
}
/* =============================================================================
   Media Queries
   ========================================================================== */
@media only screen and (max-width: 1024px) {
  .header {
    background-size: auto 100%;
  }
}
@media only screen and (max-width: 480px) {
  .header {
    background: url(../img/homemobile.jpg) no-repeat center center #000000;
    height: 458px;
  }
  .sprite {
    background-size: 300px 157px;
  }
  .header .logo-name {
    left: 15px;
  }
  .header .logo-link {
    width: 109px;
  }
  .header .details {
    right: 15px;
    top: 230px;
  }
  .header .tagline:first-child {
    font-size: 24px;
  }
  .header .tagline {
    font-size: 22px;
    line-height: 22px;
  }
  .header .call-action-link {
    background-position: -113px -78px;
    bottom: 100px;
    width: 183px;
  }
  .social {
    display: none;
  }
  /* speakers */
  .speakers .section-title {
    font-size: 35px;
  }
  .speaker-photo .photo {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.07);
    width: 300px;
  }
  .speakers-list {
    margin-bottom: 30px;
    width: 330px;
  }
  .speakers-item {
    display: block;
    float: none;
    height: 160px;
    text-align: center;
  }
  .speakers-item:nth-child(even) {
    float: none;
  }
  .speakers-item .presentation {
    border-radius: 0;
  }
  .speech-title {
    font-weight: bolder;
  }
  .speech-time {
    background: transparent;
    color: #2b2b2b;
    font-weight: bolder;
  }
  .github-link {
    display: none;
  }
}
